.app-header {
  .header-container {
    position: relative;

    h1 {
      position:relative;
      img {
        height:40px;
        position:absolute;
        right:-32px;
        top:-1px;
      }
    }

    @include for-narrow-layout {
      .menu-btn {
        display: none;
      }
    }
  }
}