.block-list {
  margin-top: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
  grid-gap: 20px;


  .block-preview {
    cursor: pointer;
    background-color: $clr6;
    box-shadow: 2px 2px 11px rgb(43 17 74 / 17%);
    border-radius: 3px;
    overflow-y: hidden;
    padding:10px;
    transition:.3s;
    &:hover {
      text-decoration: none;
      background-color: $clr4;
      color:$clr7;
      font-weight: bold;
    }
  }
}