.code-block {
  position: relative;

  .answer {
    width: 100%;
    position: absolute;
    z-index: 10;
    padding: 1em;
    color: transparent;
    caret-color: white;
  }

  .hljs {
    pointer-events: none;
  }

  .img-container {
    position: fixed;
    inset: 0;
    z-index: 20;

    img {
      width: 80%;
    }

    &.small {
      height: 30vh;
      width: 30vw;
      inset: auto 0 50px auto;
    }
  }


  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
}