.code-block {
  position: relative;
  height: 100%;
  padding-top: 20px;

  h2,
  p {
    margin-bottom: 10px;
  }

  .exercise {
    flex-grow: 1;

    .code-section {
      overflow-y: auto;
    }

    .answer {
      width: 100%;
      position: absolute;
      z-index: 10;
      padding: 1em;
      color: transparent;
      caret-color: white;
    }

    .hl-ans {
      pointer-events: none;
      margin-bottom: 20px;
    }

    .solution code.hljs{
      padding-block: 4px;
    }
    .solution-btn code.hljs {
      padding-block: 0;
      color: rgb(147, 208, 191);
      cursor: pointer;
    }

    pre {
      white-space: pre-wrap;
      word-break: keep-all
    }


    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }


  .img-container {
    position: absolute;
    inset: 0;
    z-index: 20;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;

    img {
      width: 80%;
      filter: sepia(0.2) brightness(1.7);
      transform: rotate(10deg);
    }

    &.small {
      max-width: 160px;
      inset: 0 0 auto auto;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  .user-msg {
    background-color: $clr5;
    color: $clr6;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px $clr7;
    width: 200px;
    height: fit-content;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    transition: transform .5s, opacity .3s;
    white-space: pre-line;

    &.empty {
      transform: translateX(50%) translateY(-110%);
      opacity: 0;
    }
  }
}