.code-block {
  position: relative;
  height: 100%;

  h2 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }

  .answer {
    width: 100%;
    position: absolute;
    z-index: 10;
    padding: 1em;
    color: transparent;
    caret-color: white;
  }

  .hljs {
    pointer-events: none;
    margin-bottom: 20px;
  }

  .solution {
  }

  .img-container {
    position: absolute;
    inset: 0;
    z-index: 20;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;

    img {
      width: 80%;
      filter: sepia(0.2) brightness(1.7);
    }

    &.small {
      max-width: 160px;
      inset: 0 0 auto auto;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }


  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
}